*.pyc
hw1/cs285/.idea/workspace.xml
*.icloud
*.iml
*.iml
*.json
*.iml
*.iml
hw1/.idea/hw1.iml
hw4/cs285.egg-info/dependency_links.txt
hw4/cs285.egg-info/PKG-INFO
hw4/cs285.egg-info/SOURCES.txt
hw4/cs285.egg-info/top_level.txt
*.xml
!hw4/cs285/envs/reacher/assets/sawyer.xml
